<div class="grid-container main-content">
    <div class="grid-x grid-margin-x">
        <div class="form-container cell">
            <h2>Login</h2>
        
            <span class="error" *ngIf="error" [@fallIn]='state'>{{ error }}</span>
        
            <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
        
              <input type="text" placeholder="Email Addresse.." (ngModel)="email" name="email" class="input-text" required>
              <input type="password" placeholder="Passwort" (ngModel)="password" name="password" class="input-text" required>
        
              <button type="submit" [disabled]="!formData.valid" class="button expanded">Log in</button>
              <a routerLink="/signup" >Sie haben noch kein Konto?</a>
          </form>
        </div>
    </div>
  </div>


