@import "~_settings.scss";
$top-value: -255px;

.search-height-controller {
    height: 5rem;
}

.search-container {
    @include breakpoint(large up) {
        max-width: 40rem;
    }
    will-change: transform;
    -webkit-font-smooting: antialiased;
    padding: 1rem;
    background: $white;
    height: 0;
    z-index: 15;
    transition: all 250ms ease;
    position: relative;
    .search-close-button {
        display: none;
    }
    .search-list-container {
        //display: none;
        transition: all 250ms ease;
        visibility: hidden;
        height: 0;
    }
    .search-input {
        z-index: 10;
        margin-bottom: 0;
    }
    .search-active & {
        position: relative;
        z-index: 15;
        transition: all 250ms ease;
        overflow: hidden;
        @include breakpoint(small only) {
            transform: translateY($top-value);
            width: 100vw;
            height: 100vh;
            .search-results-list {
                padding-bottom: 6rem;
            }
        }
        @include breakpoint(medium up) {
            background: $white;
            border-radius: $global-radius;
            box-shadow: $box-shadow-small;
            position: fixed;
            //transition: top 1 ease;
            top: 10vh;
            right: 0;
            left: 0;
            min-height: 60vh;
            max-height: 80vh;
        }
        .search-input {
            margin-bottom: 1rem;
        }
        .search-close-button {
            display: block;
            text-align: right;
        }
        .search-list-container {
            //display: block;
            visibility: visible;
            height: 100%;
            overflow: scroll;
            @include breakpoint(small only) {
                max-height: 80vh;
            }
            @include breakpoint(medium up) {
                max-height: 60vh;
            }
        }
    }
}

.search-active {
    &:after {
        content: "";
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        background: rgba($medium-gray, .6);
        z-index: 9;
    }
}

.search-results-item {
    a {
        padding: .6em 0;
        margin-left: .6em;
        margin-right: .6em;
        border-bottom: 1px solid $light-gray;
    }
    &:hover,
    &:focus {
        background-color: $light-gray;
    }
}

.search-info {
    font-size: rem-calc(12px);
    color: $medium-gray;
    font-weight: $global-weight-bold;
    text-align: right;
    padding: .3em 0;
    >span:nth-of-type(2) {
        &::before {
            content: '|';
            display: inline-block;
            padding: 0 .6em;
        }
    }
}

.search-close-button {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.search-results-label {
    display: flex;
}

.search-results-label-text {
    flex: 1;
}

.search-results-label-icon {
    margin-right: 1rem;
}