@import "../../../../../settings";

$top-value: -238px;

.search-cell {
    @include breakpoint(large up) {
        border-top: 1px solid $light-gray;
        border-bottom: 1px solid $light-gray;
        background-color: lighten($medium-gray, 20%); 
    }
}

.search-height-controller {
    height: 3.6rem;

    @include breakpoint(large up) {
        height: 2.6rem;
    }
}

/**
* @section UI Input > Search Input
* @molecule Site Search
* @markup
*   <div class="search-container grid-container">
*   <div class="grid-x grid-margin-x align-center search-input-container-wrap">
*        <div class="cell search-input-container">
*           <a class="search-close-button" ><svg class="icon icon-cancel"><use xlink:href="#cancel"></use></svg></a>
*           <a class="search-button" ><svg class="icon icon-search"><use xlink:href="#search"></use></svg></a>
*           <label for="search-input" class="show-for-sr">Search</label>
*           <input type="text" id="search-input" class="input-text search-input" placeholder="Suchen">
*        </div>
*   </div>
*   </div>
*/
.search-container {
    max-width: 40rem;
    will-change: transform;
    -webkit-font-smooting: antialiased;
    padding: 1rem;
    background: $white;
    transition: all 250ms ease;

    @include breakpoint(large up) {
        background: none;
    }

    @include breakpoint(large up) {
        padding: 0.4rem 1rem;
    }
    height: 0;
    z-index: 15;
    position: relative;
    .search-close-button, .search-button {
        color: $dark-gray;
    }
    .search-close-button {
        display: none;
    }

    .search-button {
        position: absolute;
        right: 1rem;
        top: .46rem;
    }
    .search-list-container {
        visibility: hidden;
        max-height: 0;
        background-color: $white;
    }
    .search-input-container {
        position: relative;
    }
    .search-input {
        z-index: 10;
        margin-bottom: 0;
        border-radius: 100px;
        padding-left: 1rem;
    }

    .search-active & {
        position: relative;
        z-index: 95;
        overflow: hidden;

        @include breakpoint(small only) {
            transform: translateY($top-value);
            width: 100vw;
            height: 100vh;
        }


        @include breakpoint(medium up) {
            background: $white;
            border-radius: $global-radius;
            box-shadow: $box-shadow-small;
            position: fixed;
            top: 10vh;
            right: 0;
            left: 0;
            min-height: 60vh;
            max-height: 80vh;
            padding: 1.5rem;

            .search-input-container-wrap {
                height: 100%;
            }
        }


        .search-input {
            margin-bottom: .5rem;
        }
        
        .search-close-button {
            display: block;
            position: absolute;
            right: .3rem;
            top: .4rem;

            &:hover, &:focus {
                opacity: .5;
            }
        }
        .search-button {
            display: none;
        }

        .search-list-container {
            visibility: visible;
            max-height: 100%;
            height: 100%;
            overflow-y: scroll;

            @include breakpoint(small only) {
                max-height: calc(100vh - 200px);
            }


            @include breakpoint(medium up) {
                height: calc(100% - 5rem);
            }
        }
    }
}

.search-active {
    &:after {
        content: "";
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        background: rgba($medium-gray, 0.6);
        z-index: 9;
    }
}

.search-results-item {
    a {
        padding: .6em 0;
        margin-left: .6em;
        margin-right: .6em;
        border-bottom: 1px solid $light-gray;
    }

    &:hover,
    &:focus {
        background-color: $light-gray;
    }
}

.search-info {
    font-size: rem-calc(12px);
    color: $medium-gray;
    font-weight: $global-weight-bold;
    text-align: right;
    padding: .3em;

    > span:nth-of-type(2) {
        &::before {
            content: '|';
            display: inline-block;
            padding: 0 .6em;
        }
    }
}

.search-close-button {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.search-results-label {
    display: flex;
}

.search-results-label-text {
    flex: 1;
}

.search-results-label-icon {
    margin-right: 1rem;
}
