@import 'settings';
@import '../../node_modules/foundation-sites/scss/foundation';


@include foundation-global-styles;
@include foundation-xy-grid-classes;
@include foundation-flex-classes;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
@include foundation-card;
@include foundation-menu;
@include foundation-responsive-embed;
@include foundation-media-object;
@include foundation-table;
@include foundation-visibility-classes;

@include foundation-switch;


@import 'partials/header';


.menu.simple {
	justify-content: space-around;
	padding: 1rem 0;

}

.logo {
  width: 3rem;
  height: 3rem;
}


@include breakpoint(medium up) {
	.main-container {
		display: flex;
		flex-direction: column;
		header, app-header {
			order: 1;
		}
		.map {
			order: 3;
			img {
				width: 100%;
			}
		}	
		.search-bar {
			order: 4;
		}
		.carousel {
			order: 5;
		}
		.main-nav, app-main-nav {
			order: 2;
		}	
	}
	
}




@include breakpoint(small only) {
	
	
	$animation-duration: 0.5s;
	
	.navigation-is-open {
		overflow: hidden; 
	}

	.main-container {
		position: relative;
		z-index: 2;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		
		background-color: $white;

		/* Force Hardware Acceleration in WebKit */
		transform: translateZ(0);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;

		transition :transform $animation-duration;
		transition-timing-function: cubic-bezier(.91,.01,.6,.99); 

		.footer-navigation-is-open & {
			transform: translateX(-100%);
		}

		.filter-navigation-is-open & {
			transform: translateX(100%);
		}

	}

	.footer-container {
		position: fixed;
		z-index: 1;
		top: 0;
		right: 0;
		height: 100%;
		width: 100%;
		color: $white;
		background-color: dark-blue;
		visibility: hidden;
		transition: visibility 0s $animation-duration;

		.app-menu-footer {
			/* all navigation content */
			height: 100%;
			overflow-y: auto;
			padding: 1rem;
			
			
			/* Force Hardware Acceleration in WebKit */
			transform: translateZ(0);
			backface-visibility: hidden;

			transform: translateX(50%);
			transition: transform $animation-duration;
			transition-timing-function: cubic-bezier(.86,.01,.77,.78);
		}

		.footer-navigation-is-open & {
			visibility: visible;
			transition: visibility 0s 0s;
			.app-menu-footer {
				-webkit-overflow-scrolling: touch;
				transform: translateX(0);
				transition: transform $animation-duration - 0.2s;
				transition-timing-function: cubic-bezier(.82,.01,.77,.78);
			}
		}
		
	}

	.filter-container {
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		right: auto;
		height: 100%;
		width: 100%;
		color: $white;
		background-color: dark-blue;
		visibility: hidden;
		transition: visibility 0s $animation-duration;

		.app-menu-filter {
			/* all navigation content */
			height: 100%;
			overflow-y: auto;
			padding: 1rem;
			
			
			/* Force Hardware Acceleration in WebKit */
			transform: translateZ(0);
			backface-visibility: hidden;

			transform: translateX(50%);
			transition: transform $animation-duration;
			transition-timing-function: cubic-bezier(.86,.01,.77,.78);
		}

		.filter-navigation-is-open & {
			visibility: visible;
			transition: visibility 0s 0s;
			.app-menu-filter {
				-webkit-overflow-scrolling: touch;
				transform: translateX(0);
				transition: transform $animation-duration - 0.2s;
				transition-timing-function: cubic-bezier(.82,.01,.77,.78);
			}
		}
		
	}
}