<a routerLink="/" class="">back</a>
<ng-container *ngIf="birthplace">
    <div class="bp-container">
        {{birthplace.name}}
        <br> {{birthplace.url}}
        <br>
        <a target="_blank" href="https://www.google.com/maps/dir/?api=1&destination={{birthplace.name}}">Anfahrt</a>
        <br>
        <div *ngIf="birthplace.experiences">
            <br> Anzahl Bewertungen: {{birthplace.experiences}}
            <br>
        </div>
        <div *ngIf="!birthplace.experiences">
            noch keine bewertungen
        </div>
    </div>
</ng-container>

<div>
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>