<div class="map-wrap">
    <div *ngIf="loaded == false" class="typing_loader_container clear">
        <div class="typing_loader"></div>
    </div>
    <agm-map class="map" [ngClass]="{'map-detail': isDetail }" [latitude]="latLng.lat" [longitude]="latLng.lng" (boundsChange)="this.bounds = $event"
        (idle)="birthplaceService.updateBounds(this.bounds)" (centerChange)="this.latLng = $event" [streetViewControl]="false"
        [styles]="styles">
        <agm-marker *ngFor="let m of items$ | async; let i = index; trackBy: trackFbObjects" (markerClick)="clickedMarker(m.id)"
            [latitude]="m.lat" [longitude]="m.lng" [iconUrl]="'assets/images/gm_marker_'+m.type+'.png'">
        </agm-marker>
    </agm-map>
    <a *ngIf="isDetail" routerLink="/" class="go-back go-back-overlay">
        <svg class="icon icon-arrow-left">
            <use xlink:href="#arrow-left"></use>
        </svg>
    </a>
</div>