@import "../../../../../settings";

.map-wrap {
    position: relative;
    background-color: #E5E3E0;
}

.map {
    position: relative;
    height: 250px;
    transform: height 550ms $cubic-animation;
    @include breakpoint(medium up) {
        height: 350px;
    }
    @include breakpoint(large up) {
        height: 400px;
    }
    &.map-detail {
        height: 100px;
        transform: height 550ms $cubic-animation;
    }
}
