@import "~_settings.scss";

.site-header {
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: -1px -5px 20px 0px rgba($black, 0.3);
    background: $white;

    .logo-link {
        display: block;
        padding: .4em 1.2em;
    }

    .logo {
        width: 2.75rem;
        height: 2.75rem;
    }

    .text-link {
        .icon {
            width: 8rem;
            height: 2.8rem;
            @include breakpoint(medium up) {
                margin-top: 0.2rem;
            }
        }

        color: $medium-gray;

        @include breakpoint(small only) {
            display: block;
            position: absolute;
            margin-top: -1.5rem;
            margin-left: -4.25rem;
            left: 50%;
            top: 50%;

        }
    }
}

@include breakpoint(medium up) {
    app-header {
        order: 3;
    }
}
