<aside class="filter-container grid-container">
    <div class="app-menu-filter">
      
   
      <div class="grid-x">
        <div class="cell small-10 medium-8">
          <a href="#" class="show-for-small-only close-nav-trigger nav-trigger-filter">back</a>
          <h3>Geburtshäuser</h3>
        </div>
        <div class="cell auto">
          <div class="switch small">
              <input id="geburtshaueser" class="switch-input" type="checkbox" [(ngModel)]="filter.spital"  
              (change)="updateFilter()">
            <label class="switch-paddle" for="geburtshaueser">
              <span class="show-for-sr">Zeige alle Geburtshäuser</span>
            </label>
          </div>
        </div>
      </div>
      <div class="grid-x">
        <div class="cell small-10 medium-8">
          <h3>Spitäler</h3>
        </div>
        <div class="cell auto">
          <div class="switch small">
            <input id="spitaeler" class="switch-input" type="checkbox" [(ngModel)]="filter.geburtshaus" (change)="updateFilter()">
            <label class="switch-paddle" for="spitaeler">
              <span class="show-for-sr">Zeige alle Spitäler</span>
            </label>
          </div>
        </div>
      </div>

      </div>
  </aside>