@import "~_settings.scss";

.map-wrap {
    position: relative;
    .map {
        height: 300px;
        position: relative;
        &.map-detail {
            height: 100px;
            transform: height 250ms 550ms $cubic-animation;
        }
    }
    
}