<agm-map class="map" [ngClass]="{'map-detail': isDetail }" [latitude]="latLng.lat" [longitude]="latLng.lng"

(boundsChange)="this.bounds = $event"
(idle)="birthplaceService.updateBounds(this.bounds)"
(centerChange)="this.latLng = $event"
[streetViewControl]="false"
[styles]="styles"

>
<agm-marker
*ngFor="let m of items$ | async; let i = index; trackBy: trackFbObjects"
(markerClick)="clickedMarker(m.id)"
[latitude]="m.lat"
[longitude]="m.lng"
[iconUrl]="'assets/images/gm_marker_'+m.type+'.png'"
>

<!--agm-info-window>
<strong>InfoWindow content</strong>
</agm-info-window-->

</agm-marker>
</agm-map>
