<div class="grid-container main-content">
  <div class="grid-x grid-margin-x">
    <div class="form-container cell">
      <h2>Konto erstellen</h2>
      <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">

        <input type="text" placeholder="Email Addresse.." (ngModel)="email" name="email" class="input-text" required>
        <input type="password" placeholder="Passwort" (ngModel)="password" name="password" class="input-text" required>


        <button type="submit" [disabled]="!formData.valid" class="button expanded">Konto erstellen</button>
        <a routerLink="/login" >Sie haben bereits ein Konto? Loggen Sie sich ein.</a>
      </form>
    </div>
  </div>
</div>