<div class="grid-container main-container dashboard-container">
  <div class="grid-x align-middle">
    <main role="main" class="main-content cell medium-8 large-7 medium-order-2">
      <header>
        <h1 class="site-title">Über birthhood<sup><small> ®</small></sup></h1>
        <h2 class="subheader h4">Optimale Rahmenbedingungen für bestmögliche Geburtserlebnisse!</h2>
      </header>
      <div class="entry">
        <p>Wussten Sie, dass die Rahmenbedingungen welche bei einer Geburt vorherrschen, einen grossen Einfluss auf den Geburtsprozess
          und das Geburtserlebnis von Mutter und Kind haben?</p>

        <p>Ein zu kleiner Teil der Frauen antwortet auf die Frage „ob sie die Geburt ihres Kindes als etwas Wunderbares erlebte
          und am liebsten gleich wieder gebären wollen würde“ mit „Ja“. Leider sind die Rahmenbedingungen oft alles andere
          als optimal um einen guten Geburtsverlauf und ein positives Geburtserlebnis zu fördern.</p>

        <p>Eine Geburt passiert immer auf körperlicher, mentaler & emotionaler Ebene, diese werden von weiteren Faktoren wie
          z.B. der Umgebung beeinflusst. Es gibt Anteile, die wir nicht beeinflussen können, aber wiederum welche, die sehr
          wohl beeinflussbar sind. Simples kann den Unterschied machen!</p>

        <p>Das internationale Projekt „birthhood“ von geburtschaft® zielt darauf hin, dass es künftig überall üblich ist, dass
          bei den Geburten optimale Rahmenbedingungen – simple Kriterien welche der Qualitätskatalog aufzeigt – geboten werden,
          welche die Grundlage schaffen, damit</p>

        <blockquote>Es ist nicht nur wichtig, dass Mutter und Kind gesund aus der Geburt kommen, sondern auch wie sie die Geburt erleben!</blockquote>

        
      </div>
    </main>
    <aside class="main-sidebar medium-4 cell medium-order-1 text-center">
        <svg class="icon icon-stethoscope icon-xlarge"><use xlink:href="#stethoscope"></use></svg>
    </aside>
  </div>
</div>