<div class="grid-container full">
  <div class="grid-x">
    <figure class="cell">
      <img src="assets/images/hero_pregnant_1600_low.jpg" class="full-width" alt="Woman Intro Image">
    </figure>
  </div>
</div>
<div class="grid-container">
  <div class="grid-x align-middle overlap-wrap">
    <main role="main" class="main-content overlap-content cell large-8 large-order-2">
      <header>
        <h1 class="site-title">Über birthhood</h1>
        <h2 class="subheader h4">Optimale Rahmenbedingungen für bestmögliche Geburtserlebnisse!</h2>
      </header>
      <div class="entry">
        <p>Wussten Sie, dass die Rahmenbedingungen welche bei einer Geburt vorherrschen, einen grossen Einfluss auf den Geburtsprozess
          und das Geburtserlebnis von Mutter und Kind haben?</p>

        <p>
          <strong>Leider sind die Rahmenbedingungen oft alles andere als optimal um einen guten Geburtsverlauf und ein positives
            Geburtserlebnis zu fördern.</strong>
        </p>

        <div class="callout callout-edge-to-edge secondary">
          <p>Bei
            <strong>birthhood</strong> geht es um
            <strong>optimale Rahmenbedingungen</strong> zur Förderung:</p>
          <ul class="bullets">
            <li>
              <strong>der physiologischen Prozesse</strong>
            </li>
            <li>
              <strong>des mental-emotionalen Wohlbefindens von Mutter und Kind (Traumaprävention)</strong>
            </li>
            <li>
              <strong>der Mutter-Kind-Bindung</strong>
            </li>
          </ul>
        </div>

        <p>birthhood.org soll Eltern eine Plattform bieten um zu sehen wo und in welchem Umfang die simplen Kriterien des Qualitätskatalog
          umgesetzt werden und welche geburtshilflichen Institutionen birthhood-geschult sind.</p>

        <p>Ziel von birthhood ist es, dass es künftig in allen Geburtsinstitutionen selbstverständlich ist, dass all die Punkte
          aus dem geburtschaft® Qualitätskatalog erfüllt werden.</p>

        <hr class="section-divider">

        <blockquote>Denn es ist nicht nur wichtig, dass Mutter und Kind gesund aus der Geburt kommen, sondern auch wie sie die Geburt
          erleben!</blockquote>

      </div>
    </main>
    <aside class="main-sidebar large-3 cell large-order-1 text-center">
      <svg class="icon icon-stethoscope icon-xlarge">
        <use xlink:href="#stethoscope"></use>
      </svg>
    </aside>
  </div>
</div>