<div class="grid-container full">
  <div class="grid-x">
    <figure class="cell">
      <img src="assets/images/hero_pregnant_1600_low.jpg" class="full-width" alt="Woman Intro Image">
    </figure>
  </div>
</div>
<div class="grid-container">
  <div class="grid-x align-middle overlap-wrap">
    <main role="main" class="main-content overlap-content cell large-8 large-order-2">
      <header>
        <h1 class="site-title">Über birthhood</h1>
        <h2 class="subheader h4">Optimale Rahmenbedingungen für bestmögliche Geburtserlebnisse!</h2>
      </header>
      <div class="entry">
        
        <blockquote>Denn die Umstände bei der Geburt haben Einfluss auf die weitere Gesundheit!</blockquote>

        <p>Wussten Sie, dass die Rahmenbedingungen welche bei einer Geburt vorherrschen, einen grossen Einfluss auf den Geburtsprozess
          und das Geburtserlebnis von Mutter und Kind haben?</p>

        <p>
          <strong>Leider sind die Rahmenbedingungen oft alles andere als optimal um einen guten Geburtsverlauf und ein positives
            Geburtserlebnis zu fördern.</strong>
        </p>

        <p>Stellen Sie sich vor, eine Person geht wegen Schlafproblemen zum Arzt. Dieser kann der Person einfach ein Schlafmedikament verschreien oder erst Einmal nachfragen: 
    wie die Situatin denn so ist.</p> 
    <p>"Aha, Sie wohnen in einer Studenten-WG. Ihr Zimmer befindet sich gleich neben dem Wohnzimmer wo oft Parties bis in die frühen Morgenstunden stattfinden. Was, die Türe zu Ihrem Zimmer fehlt, Sie haben nur einen Bambustürvorhang. Interessant, vor Ihrem Zimmerfenster hängt eine Leuchtreklame und das Fenster verfügt weder über einen Rollladen noch über Fensterläden. Hm, und Sie schlafen auf einem Klappbett..." </p>
        <p>Wunder Sie sich, dass die Person schlecht schläft?</p>

        <blockquote>Simples kann den Unterschied machen!</blockquote>

        <div class="callout callout-edge-to-edge secondary">
          <p>Bei
            <strong>birthhood</strong> geht es um das Angebot von
            <strong>optimalen Rahmenbedingungen bei der Geburt</strong> zur:</p>
          <ul class="bullets">
            <li>
              <strong>Unterstützung der körperlichen Prozesse</strong>
            </li>
            <li>
              <strong>Förderung des mental-emotionalen Wohlbefindens von Mutter und Kind</strong>
            </li>
          </ul>
          <p>Denn die Umstände bei der Geburt haben Einfluss auf die weitere Gesundheit!</p>
        </div>

        <p>birthhood.org soll Eltern eine Plattform bieten um zu sehen wo und in welchem Umfang die simplen Dinge zur Förderung und Unterstütung der körperlichen Prozesse und des Wohlbefindens von Mutter & Baby
         umgesetzt werden und wo "wir tun alles für ein gutes Geburtserlebnis und die Gesundheit von Ihnen und Ihrem Baby" ein Werbeversprechen bleibt.</p>

        <p>Ziel von geburtschaft® ist es, dass es künftig in allen Geburtsinstitutionen selbstverständlich ist, dass all die spimplen Kriterien
          aus dem geburtschaft® Qualitätskatalog erfüllt werden. Das heisst, dass es:</p>
          <ul>
          <li> abgedunkelt und still ist im Gebärsaal und die Privatsphäre gewahrt ist um die Geburtshormon-Ausschüttung zu fördern,</li>
          <li>dass bei PDA ein Ballkissen zur Verfügung gestellt wird um die Beckenbewegung und damit den Weg des Kindes durch das Becken zu erleichtern,</li>
          <li>dass bei einer Kaiserschnittentbindungen gleich im Ops das nackte Baby der Mama auf ihre nackte Brust gegeben wird und dort bleiben darf (sofern der gesundheitliche Zustand dies zulässt und die Mama das möchte),</li>
          <li>etc.</li>
        </ul>

        <hr class="section-divider">

        <blockquote>Denn ist nicht nur wichtig, dass Mutter und Kind gesund aus der Geburt kommen, sondern auch wie sie die Geburt
          erleben!</blockquote>

          <p>Die geforderten Kriterien basieren auf salutophysiologischen Grundsätzen und den Erkentnissen über die Auswirkung auf die Gesundheit aus den Wissensgebieten Epigenetik, Micorbiome und Perinatalpsychologie.</p>
       

      </div>
    </main>
    <aside class="main-sidebar large-3 cell large-order-1 text-center">
      <svg class="icon icon-stethoscope icon-xlarge">
        <use xlink:href="#stethoscope"></use>
      </svg>
    </aside>
  </div>
</div>