@import "../../../settings";

.callout-edge-to-edge {
    border-radius: 0;
    margin: 0 -2rem 1.5rem;
    padding: 2rem 3rem;
    @include breakpoint(medium up) {
        margin: 0 -4rem 2rem;
        padding: 2rem 4rem;
    }
}

@include breakpoint(medium up) {
    .overlap-wrap {
        margin-bottom: -19%;
        transform: translateY(-32%);
    }

    .overlap-content {
        padding-top: 3.6rem;
        padding-bottom: 3.6rem;
        background: $white;
        box-shadow: $box-shadow-large;
    }
}
