.SG-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
}

.SG-layout {
    display: flex;
    max-width: 1100px;
    height: 100%;
    flex: 1;
}

.SG-header {
    margin-bottom: 50px;
    background: white;
}

.SG-header::before {
    box-shadow: 0 -43px 14px #f8f8f8 inset;
}

.SG-logo__name {
    font-weight: 300 !important;
}

.SG-header .SG-logo {
    display: flex;
    margin-top: 1.185rem;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.SG-logo .logo {
    height: 2.5em;
}

.SG-row-align-middle > * {
    font-size: .8rem;
}

/* .SG-scroll-header {
    padding-top: 5.8em !important;
} */

:not('.molecules') .SG-scroll-title {
    margin-bottom: -6em !important;
}

.SG-scroll-title-icon {
    margin-bottom: 1em;
}

.SG-layout__sidebar {
    position: fixed;
    width: 11% !important;
}

.SG-component .SG-component__title,
.SG-component .SG-code__title {
    font-size: 18px;
    padding-top: 4px;
}

.SG-footer {
    font: 300 14px Lato, sans-serif;
    position: relative;
    display: flex;
    margin-top: 50px;
    padding: 10px 40px;
    color: #9b9b9b;
    border-top: 1px solid #efefef;
    background: white;
    align-items: center;
    justify-content: space-between;
}

.SG-footer::before {
    position: absolute;
    top: -27px;
    display: block;
    width: calc(100% - 80px);
    height: 26px;
    content: '';
    border-radius: 100% 100% 0 0;
    background: linear-gradient(to top, #ececec, #fff 100%);
    background-size: 131%;
    box-shadow: 0 17px 27px #f8f8f8 inset;
}

.SG-a {
    border-bottom: none !important; 
}

.SG-footer p {
    margin: 0;
}

.SG-layout--two-columns .SG-layout__content {
    float: none;
    margin-left: 20%;
}

.logo-footer {
    width: 1.2em;
}

.SG-search .selectize-input input {
    margin: 0;
    box-shadow: none;
}
