@import "~_settings.scss";

.filter-container {
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    background: lighten($medium-gray, 19%); 
    @include breakpoint(large up) {
        border-right: 1px solid $light-gray;
    }
    .switch-geburtshaus {
        background-color: lighten($medium-gray, 17%);
        input:checked ~ .switch-paddle {
            background: get-color(geburtshaus);
        } 
    }
    .switch-spital {
        background-color: lighten($medium-gray, 19%);
        input:checked ~ .switch-paddle {
            background: get-color(spital); 
        }
    }
    .switch-label {
        font-size: rem-calc(13);
        line-height: 1.3;
        @include breakpoint(medium up) {
            font-size: rem-calc(15);
        }
        color: $medium-gray;
        margin: 0 !important;
    }
}