@import "../../../../../settings";

.search-cell {
    @include breakpoint(large up) {
        border-top: 1px solid $light-gray;
        border-bottom: 1px solid $light-gray;
        background-color: lighten($medium-gray, 20%); 
    }
}



.card-item {
    .card-header + .card-footer {
        padding-bottom: 0;
    }
    .card-content {
        min-height: 20rem;
        @include breakpoint(medium up) {
            min-height: 23rem;
        }
        box-shadow: 0 0 29px rgba(0,0,0,.1);
    }

    .card-sup-title {
        text-transform: capitalize;

        //font-size: rem-calc(17);
        margin-bottom: -.3em;
        font-weight: 200;
    }

    .card-total-score {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding-bottom: .125em;
    }

    .card-footer-wrap {
        width: 100%;
    }
    .card-footer {
        display: flex;
        align-items: flex-end;
        position: relative;

        .icon {
            position: absolute;
            width: 1.6rem;
            height: 1.6rem; 
            right: 1rem;
            bottom: 1rem;
            &.icon-spital {
                color: get-color(spital);
            }
            &.icon-geburtshaus {
                color: get-color(geburtshaus);
            }
        }
    }
}