<div class="dashboard-sidebar-container">

  <div class="avatar-container">
    <img src="../assets/images/avatars/avatar_default.png" class="user-avatar" alt="Profilbild">
  </div>

  <div class="dashboard-email">
    <h2 class="user-name">Alexandrea Sievi</h2>
    <h3 class="h6">{{ currentUser?.email }}</h3>
  </div>

  <div class="dashboard-login-time">
    <p>
      <strong>Mitglied seit</strong> {{ currentUser?.metadata.creationTime | date: 'dd.MM.yyyy' }}
    </p>
    <p>
      <strong>Letzter Login</strong> {{ currentUser?.metadata.lastSignInTime | date: 'dd.MM.yyyy hh:mm' }} Uhr
    </p>
  </div>

  <div class="dashboard-logout-button-container">
    <button class="button hollow secondary" (click)="logout()">Logout
      <svg class="icon icon-exit-logout">
        <use xlink:href="#exit-logout"></use>
      </svg>
    </button>
  </div>
</div>