<div class="grid-container boxed-container" style="background: url('../assets/images/icon_confetti.png'); background-size: contain;">
  <div class="grid-x align-center">
      <main role="main" class="boxed-main padded main-content cell medium-8 large-7">
          <header>
            <h1>Kontakt</h1>
          </header>
          <div class="entry">
              <p>Sie haben Fragen oder Anregungen, dann zögern Sie nicht und schreiben Sie uns. Unser mehrsprachiges Kontakt Team wird sich in der Regel innert 24 Stunden mit in Verbindung setzen.</p>
              
              <p class="text-center"><a href="mailto:info@birthhood.org" class="button">Email schreiben</a></p>
              <hr class="section-divider" >
          </div>
          <footer class="text-center">
            <p>made with ♡ in Switzerland</p>
          </footer>
      </main>
  </div>
</div>