<div class="girid-container">
  <div class="grid-x align-center">
    <div class="cell text-center">
        <a  routerLink="/user-dashboard" class="go-back go-back-dark">
          <svg class="icon icon-arrow-left">
              <use xlink:href="#arrow-left"></use>
          </svg>
          <span class="show-for-sr">Zurück zur Übersicht</span>
        </a>
    </div>
    <div class="cell text-center">
        <ol class="menu align-center menu-experience">
            <li>
              <a routerLink="./" title="Bio">1</a>
            </li>
            <li>
              <a routerLink="umgebung" title="Umgebung">2</a>
            </li>
            <li>
                <a routerLink="emotional" title="Emotional">3</a>
              </li>
            <li>
              <a routerLink="koerperlich" title="Körperlich">4</a>
            </li>
            <li>
              <a routerLink="mental" title="Mental">5</a>
            </li>
            <li>
              <a routerLink="wochenbett" title="Wochenbett">6</a>
            </li>
          </ol>
    </div>
  </div>
</div>

