@import "../../../../../settings";

.menu-experience {
    margin: .6rem 0 1rem;
    padding: .6em;
    li {
        margin-right: 1rem;
        &:last-of-type {
            margin-right: 0;
        }
    }

    .menu-experience-link {
        line-height: 1;
        display: block;
        width: 2rem;
        height: 2rem;
        padding: .6em .8em;
        color: $white;
        border-radius: 100px;
        background: $medium-gray;
        &.active {
            background: get-color(primary);
        }
    }
}
