@import "settings";
@import "../node_modules/foundation-sites/scss/foundation";

// Imported library files
@import "../node_modules/ng-pick-datetime/assets/style/picker.min.css";
@import "/assets/scss/libs/toaster";

$color-base: #869791 !default;
$color-white: #FFF !default;
$color-gray: #D6D6D6 !default;

// nav

$nav-color: $color-white !default;
$nav-color-hover: $color-white !default;
$nav-font-size: 14px !default;
$nav-rounded: 3px !default;
$nav-margin: 5px !default;
$nav-padding: 4px 7px !default;
$nav-background: $color-gray !default;
$nav-background-hover: $color-base !default;
$nav-disabled-opacity: 0.5 !default;

// dots

$dot-width: 10px !default;
$dot-height: 10px !default;
$dot-rounded: 30px !default;
$dot-margin: 5px 7px !default;
$dot-background: $color-gray !default;
$dot-background-active: $color-base !default;

@import "../node_modules/owl.carousel/src/scss/core";
@import "../node_modules/owl.carousel/src/scss/animate";
@import "../node_modules/owl.carousel/src/scss/lazyload";
@import "../node_modules/owl.carousel/src/scss/theme";

.owl-carousel {
    padding-bottom: 5rem;
}

// Datepicker
.owl-dateTime-dialog {
    width: 100% !important;

    @include breakpoint(medium up) {
        width: auto !important;
    }
}

.owl-dateTime-cancel {
    right: 1em !important;
}

.owl-dateTime-inputWrapper {
    input[type="text"] {
        margin: 0;
    }
}

@include foundation-global-styles;
@include foundation-xy-grid-classes;
@include foundation-flex-classes;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
@include foundation-card;
@include foundation-menu;
@include foundation-badge;
@include foundation-responsive-embed;
@include foundation-media-object;
@include foundation-table;
@include foundation-visibility-classes;
@include foundation-switch;

// Global layout
@import "/assets/scss/layout/layout";

// Global Atomic Styles
@import "/assets/scss/atoms/atoms";
@import "/assets/scss/molecules/molecules";

app-root {
    width: 100%;
}

.main-content {
    padding-top: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;

    @include breakpoint(medium up) {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.content-footer {
    padding-left: 2rem;
    padding-right: 2rem;

    @include breakpoint(medium up) {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}
.main-container {
    padding-top: 3.6rem !important;
}

@include breakpoint(medium up) {
    .main-container {
        display: flex;
        flex-direction: column;

        app-main-nav {
            order: -1;
            position: fixed;
            right: 0;
            top: .7em;
            z-index: 1010;
        }
    }
}


@include breakpoint(small only) {
    $animation-duration: 0.5s;

    .navigation-is-open {
        overflow: hidden;
    }

    .main-container {
        position: relative;
        padding-bottom: 4rem;
        z-index: 2;
        min-height: 100vh;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        background-color: $white;
        //will-change: transform;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: transform $animation-duration;
        transition-timing-function: $cubic-animation;

        .footer-navigation-is-open & {
            transform: translateX(-100%);
        }
    }

    .footer-container {
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        color: $white;
        background-color: $medium-gray;
        visibility: hidden;
        transition: visibility 0s $animation-duration;

        .app-menu-footer {
            /* all navigation content */
            height: 100%;
            overflow-y: auto;
            padding: 1rem;

            /* Force Hardware Acceleration in WebKit */
            //will-change: transform;

            backface-visibility: hidden;
            transform: translateX(50%);
            transition: transform $animation-duration;
            transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
        }

        .footer-navigation-is-open & {
            visibility: visible;
            transition: visibility 0s 0s;

            .app-menu-footer {
                -webkit-overflow-scrolling: touch;
                transform: none;
                transition: transform ($animation-duration - 0.2s);
                transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
            }
        }
    }
}
