.switch-list {
    margin-bottom: 1rem;

    @include breakpoint(medium up) {
        &.inline-list {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 5rem;

            .radio-group {
                padding-top: 0;
            }

            .switch-label {
                width: calc(100% - 20rem);
                margin: 0;
                padding-right: 1rem;
            }

            .switch-container {
                width: 20rem;
            }

            .switch-description {
                width: calc(100% - 22rem);
                padding: 0;
            }
        }
    }

    .radio-group {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: .5rem 0;
        list-style-type: none;

        li {
            flex: 1;
            text-align: center;

            &:first-of-type {
                border-radius: 100px 0 0 100px;

                label {
                    border-radius: 100px 0 0 100px;
                }
            }

            &:last-of-type {
                border-radius: 0 100px 100px 0;

                label {
                    border-radius: 0 100px 100px 0;
                }
            }
        }

        input {
            display: none;
        }

        label {
            font-size: rem-calc(12);
            font-weight: 700;
            display: flex;
            overflow: hidden;
            align-items: center;
            justify-content: center;
            margin: 0 -1px !important;
            padding: .5rem .25rem;
            white-space: nowrap;
            text-transform: uppercase;
            text-overflow: ellipsis;
            color: $medium-gray;
            border: 2px solid $light-gray;
            background: $white;

            @include breakpoint(small only) {
                line-height: 1;
            }


            @include breakpoint(medium up) {
                font-size: rem-calc(16);
                padding: .5rem;
            }

            .icon {
                width: 1.8rem;
                height: 1.8rem;
            }


            &:hover, &:focus {
				color: darken(get-color(secondary), 15%);
				background-color: rgba(get-color(secondary), .5);
            }
        }

        input[type=radio]:checked + label {
            color: darken(get-color(secondary), 20%);
            background: get-color(secondary);
        }
    }
}
