.form {
    .form-title {
        font-size: rem-calc(19);
    }
    .intro {
        margin-top: 0.2rem;
        margin-bottom: 1.5rem;
        font-size: rem-calc(15);
        color: $medium-gray;
    }
}
