.form {
    .form-title {
        font-size: rem-calc(19);
    }

    .intro {
        margin-top: 0.2rem;
        margin-bottom: 1.5rem;
        font-size: rem-calc(15);
        color: $dark-gray;
    }
}

.form-header {
    margin-bottom: 1rem;
    text-align: center;
    @include breakpoint(medium up) {
        margin-bottom: 2rem;
    }
}

.form-body {
    background: $white;
    margin: 0 -1.62rem 1rem !important;
    padding: 2rem 1rem 1rem !important;

    @include breakpoint(medium up) {
        margin: 0 -1.92rem 3rem !important;
        padding: 2rem 2rem 1rem !important;
    }
}

.form-footer {
    .form-footer-actions {
        display: flex;
        justify-content: space-between;
        &.single {
            justify-content: flex-end;
        }
        .button {
            margin: 0;
        }
    }
}
