/**
* @atom Button
* @section Button > Default
* @modifiers
*  .button.disabled Disabled Button
*  .button.hollow Hollow Button
*  .button.primary Primary Button
*  .button.secondary Secondary Button
*  .button.no-margin No Margin Button
*  .button.button-icon Button Icon only
* @markup
*  <button class='button'>
*    Formular Senden
*  </button>
*  <button class='button disabled'>
*    Formular Senden
*  </button>
*  <button class='button hollow'>
*    Formular Senden
*  </button>
*  <button class='button primary'>
*    Formular Senden
*  </button>
*  <button class='button secondary'>
*    Formular Senden
*  </button>
*  <button class='button no-margin'>
*    Formular Senden
*  </button>
*  <button class='button button-icon'>
*    icon
*  </button>
*/
.button {
    &.button-icon {
        margin: 0;
        padding: 0.35em 0.7em;
        .icon {
            width: 2em;
            height: 2em;
        }
    }
    &.no-margin {
        margin: 0;
    }
}