/**
* @atom Primary Buttons
* @section Buttons > Default
* @modifiers
*  .button.no-margin No Margin Button
*  .button.button-icon Button with Icon only
* @markup
*  <button class='button'>Primary Button</button>
*  <button class='button disabled'>Primary Disabled Button</button>
*  <button class='button hollow'>Primary Hollow Button</button>
*  <button class='button clear'>Primary Clear Button</button>
*/
.button {
    &.button-icon {
        margin: 0;
        padding: 0.35em 0.7em;
        .icon {
            width: 2em;
            height: 2em;
        }
    }
    &.no-margin {
        margin: 0;
    }
}

/**
* @atom Secondary Buttons
* @section Buttons > Default
* @markup
*  <button class='button secondary'>Secondary Button</button>
*  <button class='button secondary disabled'>Secondary Disabled Button</button>
*  <button class='button secondary hollow'>Secondary Hollow Button</button>
*  <button class='button secondary clear'>Secondary Clear Button</button>
*/
.button.secondary {}