/**
* @atom Input Type Text
* @section Form Elements > Input
* @markup
*   <input type="text" class="input_text" placeholder="" />
*/
[type='text'],
[type='password'] {
    vertical-align: middle;
}

.show-hide-password {
    position: relative;
    .show-hide-password-link {
        position: absolute;
        top: .5em;
        right: 1rem;
        color: $dark-gray;
        &:hover, &:focus {
            color: $black;
        }
    }
    .icon {
        width: 1.5rem;
        height: 1.5rem;
    }
}


// belogins into shame.css
.input-radio {
    .form-radio-group & {
        display: none;
    }
}