/**
* @atom Form Labels
* @section Form Elements > Labels
* @markup
*  <label class="form_label">First Name</label>
*/
.form-label {
    font-size: rem-calc(15);
    padding: 0 .3em;
    @include breakpoint(medium up) {
        font-size: rem-calc(13);
    }
}
