.icon {
    display: inline-flex;
    align-self: center;
    position: relative;
    height: 1em;
    width: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    &.icon-input {
      width: 2.4rem;
      height: 2.4rem;
      margin: .3rem;
      color: $medium-gray;
      &.icon-calendar {
        margin-top: -.6px;
      }
    }
}
