.icon {
    position: relative;
    display: inline-flex;
    align-self: center;
    width: 1em;
    height: 1em;
    margin-bottom: -0.2em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;

    &.icon-medium {
        width: 2em;
        height: 2em;
    }

    &.icon-large {
        width: 4em;
        height: 4em;
    }

    &.icon-xlarge {
        width: 8em;
        height: 8em;
    }

    &.icon-spaced {
        padding: 1rem;
    }

    &.icon-input {
        width: 2.4rem;
        height: 2.4rem;
        margin: .3rem;
        color: $medium-gray;

        &.icon-calendar {
            margin-top: -.6px;
        }
    }
}
