
.adr {
    font-style: normal;
}

a {
    &.link-icon {
        .icon {
            margin-left: .3em;
        }
    }
    &.go-back {
        
        .icon {
            width: 2rem;
            height: 2rem;
            color: $white;
        }
        &.go-back-dark {
            .icon {
                color: $body-font-color;
            }
        }
        &:hover, &:focus {
            .icon {
               color: get-color(primary); 
            }   
        }
        
    }
    &.go-back-overlay {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($black, .5);
    }
}

.list-header-title {
    font-size: rem-calc(13);
    margin: 0;
}