@import "~_settings.scss";

.main-nav {
    a {
        color: lighten($body-font-color, 20%);
        &:hover, &:focus {
            color: get-color(primary-bright);
        }
    }
    @include breakpoint(small only) {
        background-color: lighten($light-gray, 6%);
        box-shadow: 0 0 15px rgba($black, .2);
        position: fixed;
        bottom: -1px;
        z-index: 2000;
        width: 100%;
        .main-nav-list {
            justify-content: space-around;
        }
        a {
            display: flex;
            flex-flow: column;
            text-align: center;
            padding: 0.7rem;
            &.active {
                color: $primary-color;
            }
            svg {
                width: 1.8em;
                height: 1.8em;
            }
    
            span {
                font-size: rem-calc(13);
                padding: .6em 0 0;
            }
        }
    }

    /* iPhone X Media Query */
    @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
        /* box-shadow: none;
        width: 96vw;
        left: 2vw;
        border-radius: 8px; */
        padding-bottom: 16pt; 
    }

    @include breakpoint(medium up) {
        .main-nav-list {
            justify-content: flex-end;
            margin-right: 3vw;
        }
        a {
            font-size: rem-calc(16px);
            margin-left: .6em;
            &:not(.highlighted) {
                padding-bottom: 1.1em;
                &:hover, &:focus {
                    border-bottom: 2px solid get-color(primary-bright);
                }
            }
            &.active {
                border-bottom: 2px solid get-color(primary);
                &.highlighted {
                    border-bottom: none;
                }
            }
            &.highlighted {
                border-radius: 100px;
                color: $white;
                background-color: get-color(primary);
                &:hover, &:focus {
                    background-color: get-color(primary-bright);
                }
            }
        }
    }
}

app-main-nav {
    order: -1;
}
