<nav class="main-nav">
  <ul class="menu main-nav-list">
    <li>
      <a routerLink="/birthplaces" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <svg class="show-for-small-only icon icon-world2">
          <use xlink:href="#world2"></use>
        </svg>
        <span>Karte</span>
      </a>
    </li>

    <li>
      <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <svg class="show-for-small-only icon icon-stethoscope">
          <use xlink:href="#stethoscope"></use>
        </svg>
        <span>Über uns</span>
      </a>
    </li>
    <li *ngIf="userLoggedIn">
      <a routerLink="/user-dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <svg class="show-for-small-only icon icon-woman-user">
            <use xlink:href="#woman-user"></use>
          </svg>
        <span>Profil</span>
      </a>
    </li>
    <li *ngIf="!userLoggedIn">
      <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <svg class="show-for-small-only icon icon-lock">
          <use xlink:href="#lock"></use>
        </svg>
        <span>Login</span>
      </a>
    </li>
    <li>
      <a routerLink="/user-dashboard/experience/new" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="highlighted">
        <svg class="show-for-small-only icon icon-baby">
          <use xlink:href="#baby"></use>
        </svg>
        <span>Geburt<span class="hide-for-small-only">serlebnis</span></span>
      </a>
    </li>
    <li class="show-for-small-only">
      <a (click)='toggle($event, "footer")' class="nav-trigger-footer">
        <svg class="show-for-small-only icon icon-hamburger">
          <use xlink:href="#hamburger"></use>
        </svg>
        <span>Menu</span>
      </a>
    </li>
  </ul>
</nav>