<nav class="main-nav">
  <ul class="menu simple">
    <li>
      <a (click)='toggle($event, "filter")' class="button nav-trigger-filter">Filter</a>
    </li>
    <li *ngIf="userLoggedIn">
      <a routerLink="/user-dashboard" routerLinkActive="active">Profil</a>
    </li>
    <li *ngIf="!userLoggedIn">
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </li>
    <li>
      <a routerLink="/user-dashboard/experience/new" routerLinkActive="active">Geburt hinz.</a>
    </li>
    <li class="show-for-small-only">
      <a (click)='toggle($event, "footer")' class="button nav-trigger-footer">Menu</a>
    </li>
  </ul>
</nav>