@import "../../../settings";

app-main-nav {
    order: -1;
}

/**
* Site Header Navigation Large up
* 
* @section Header > Navigation
* @molecule Main Nav (Large)
* @markup
*  <nav id="nav" class='main-nav'>
*   <ul class='menu main-nav-list'>
*    <li><a href='' class='active'><svg class="show-for-small-only icon icon-world2"><use xlink:href="#world2"></use></svg><span>Home</span></a></li>
*    <li><a href=''><svg class="show-for-small-only icon icon-stethoscope"><use xlink:href="#world2"></use></svg><span>Über uns</span></a></li>
*    <li><a href=''><svg class="show-for-small-only icon connenction"><use xlink:href="#connenction"></use></svg><span>Kontakt</span></a></li>
*    <li><a href=''><svg class="show-for-small-only icon icon-woman-user"><use xlink:href="#woman-user"></use></svg><span>Profil</span></a></li>
*    <li><a href='' class='highlighted'><svg class="show-for-small-only icon icon-baby"><use xlink:href="#baby"></use></svg><span>Geburten</span></a></li>
*   </ul>
*  </nav>
*/
.main-nav {
    @include breakpoint(small only) {
        position: absolute;
        z-index: 2000;
        bottom: -1px;
        left: 0;
        width: 100%;
        background-color: lighten($light-gray, 6%);
        box-shadow: 0 0 15px rgba($black, .2);
        .main-nav-list {
            justify-content: space-around;
        }
        a {
            display: flex;
            flex-flow: column;
            padding: 0.7rem;
            text-align: center;
            &.active {
                color: $primary-color;
            }
            svg {
                width: 1.8em;
                height: 1.8em;
            }
    
            span {
                font-size: rem-calc(13);
                padding: .6em 0 0;
            }
        }
    }

    /* iPhone X Media Query */
    @media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
        padding-bottom: 16pt; 
    }

    @include breakpoint(medium up) {
        .main-nav-list {
            justify-content: flex-end;
            margin-right: 3vw;
        }
        a {
            font-size: rem-calc(16px);
            margin-left: .6em;
            &:not(.highlighted) {
                padding-bottom: 1.1em;
                &:hover, &:focus {
                    border-bottom: 2px solid get-color(primary-bright);
                }
            }
            &.active {
                border-bottom: 2px solid get-color(primary);
                &.highlighted {
                    border-bottom: none;
                }
            }
            &.highlighted {
                color: $white;
                border-radius: 100px;
                background-color: get-color(primary);
                &:hover, &:focus {
                    color: $white;
                    background-color: get-color(primary-bright);
                }
            }
        }
    }
    a {
        color: lighten($body-font-color, 20%);
        &:hover, &:focus {
            color: get-color(primary-bright);
        }
    }
}

/**
* Site Main Navigation Mobile
* 
* @section Header > Navigation
* @molecule Main Nav (Mobile)
* @markup
*   <iframe src="#nav" scrolling="no" width="380px" height="65" style="border: 0;" ></iframe>
*/
.main-nav {}