@import "loading";

.overflow-hidden {
    overflow: hidden;
}

.main-container {
    padding-top: 5.6rem;
    @include breakpoint(medium up) {
        padding-top: 3.6rem;
    }
}

@include breakpoint(medium up) {
    .section-container {
        display: flex;
        flex-direction: column;

        app-main-nav {
            order: -1;
            position: fixed;
            right: 0;
            top: .7em;
            z-index: 1010;
        }
    }
}

@include breakpoint(medium up) {
    .site {
        min-height: 100vh;
        app-root {
            flex: 1 1 auto;
            display: flex;
            flex-flow: column nowrap;
            flex-direction: column;
            height: 100%;
            min-height: 100vh;
            width: 100%;
        }

        .section-container {
            width: 100%;
            -webkit-box-flex: 1 0 auto;
            -ms-flex: 1 0 auto;
            flex: 1 0 auto;
            -webkit-flex: 1 0 auto;
        }
    }
}


.main-content {
    padding: 0 2rem;
    @include breakpoint(medium up) {
        padding-top: 5rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.main-sidebar {
    padding-top: 2rem;
    @include breakpoint(medium up) {
        padding-top: 5rem;
    }
}

.boxed-container {
    background: lighten($medium-gray, 20%);
    padding-bottom: 3rem;
    padding-top: 4rem;
    @include breakpoint(medium up) {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }
    @include breakpoint(large up) {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
}

.boxed-main {
    position: relative;
    background: $white;
    &.gray {
        background: lighten($light-gray, 7%);
    }
    padding: 1rem;
    @include breakpoint(small only) {
        min-height: 10rem;
    }
    @include breakpoint(medium up) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    border-radius: 6px;    
    box-shadow: $box-shadow-large;
}

.boxed-sidebar {
    @include breakpoint(small only) {
        padding-top: 3rem;
    }
}

.content-footer {
    padding-left: 2rem;
    padding-right: 2rem;

    @include breakpoint(medium up) {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}