@import "loading";

app-root {
    width: 100%;
}

.overflow-hidden {
    overflow: hidden;
}

.main-container {
    padding-top: 5.6rem;
    @include breakpoint(medium up) {
        padding-top: 3.6rem;
    }
}
@include breakpoint(small only) {
    $animation-duration: .5s;

    .navigation-is-open {
        overflow: hidden;
    }

    .section-container {
        position: relative;
        padding-top: 0;
        padding-bottom: 4rem;
        z-index: 2;
        min-height: 100vh;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        background-color: $white;
        //will-change: transform;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: transform $animation-duration;
        transition-timing-function: $cubic-animation;

        .footer-navigation-is-open & {
            transform: translateX(-100%);
        }
    }

    .footer-container {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 1rem;
        padding-bottom: 2rem;
        z-index: 1;
        top: 0;
        right: 0;
        min-height: 100%;
        width: 100%;
        color: $white;
        background-color: $medium-gray;
        visibility: hidden;
        transition: visibility 0s $animation-duration;

        .app-menu-footer {
            /* all navigation content */
            height: 100%;
            overflow-y: auto;
            padding: 1rem;

            /* Force Hardware Acceleration in WebKit */
            //will-change: transform;

            backface-visibility: hidden;
            transform: translateX(50%);
            transition: transform $animation-duration;
            transition-timing-function: cubic-bezier(0.86, 0.01, 0.77, 0.78);
        }

        .footer-navigation-is-open & {
            visibility: visible;
            transition: visibility 0s 0s;

            .app-menu-footer {
                -webkit-overflow-scrolling: touch;
                transform: none;
                transition: transform ($animation-duration - 0.2s);
                transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
            }
        }
    }
}

@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
        .section-container {
            padding-bottom: 8rem;
        }
}

@include breakpoint(medium up) {
    .site {
        min-height: 100vh;
        app-root {
            flex: 1 1 auto;
            display: flex;
            flex-flow: column nowrap;
            flex-direction: column;
            height: 100%;
            min-height: 100vh;
            width: 100%;
        }

        .section-container {
            width: 100%;
            -webkit-box-flex: 1 0 auto;
            -ms-flex: 1 0 auto;
            flex: 1 0 auto;
            -webkit-flex: 1 0 auto;
        }
    }

    .section-container {
        display: flex;
        flex-direction: column;

        app-main-nav {
            order: -1;
            position: fixed;
            right: 0;
            top: .7em;
            z-index: 1010;
        }
    }
}


.main-content {
    padding: 0 2rem;
    @include breakpoint(medium up) {
        padding-top: 5rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.main-sidebar {
    padding-top: 2rem;
    @include breakpoint(medium up) {
        padding-top: 5rem;
    }
}

.boxed-container {
    background: lighten($medium-gray, 20%);
    padding-bottom: 3rem;
    padding-top: 1rem;
    @include breakpoint(medium up) {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }
    @include breakpoint(large up) {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
}

.boxed-main {
    position: relative;
    background: $white;
    padding: 2rem 1rem;
    &.gray {
        background: lighten($light-gray, 7%);
    }
    
    @include breakpoint(small only) {
        min-height: 10rem;
    }
    @include breakpoint(medium up) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    border-radius: 6px;    
    box-shadow: $box-shadow-large;
}

.boxed-sidebar {
    @include breakpoint(small only) {
        padding-top: 3rem;
    }
}

.content-footer {
    padding-left: 2rem;
    padding-right: 2rem;

    @include breakpoint(medium up) {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}