.loading {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    display: flex;
    visibility: hidden;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform: all 650ms ease-out;
    opacity: 0;
    background: $primary-color;

    .is-loading & {
        z-index: 10000;
        visibility: visible;
        transform: all 650ms ease-out;
        opacity: 1;
    }

    .logo {
        width: 4rem;
        height: 4rem;
        margin-bottom: 1rem;
        opacity: .75;
    }
}
.is-loading {
    overflow: hidden;
}


/**
* @modifiers
*   .clear No background and dark loaders
* @section Stuff
* @molecule Loading
* @markup
*   <div style="width: 300px; height: 200px; position: relative; float: left;">
*      <div class="typing_loader_container">
*       <div class="typing_loader"></div>
*      </div>
*   </div>
*   <div style="width: 300px; height: 200px; position: relative; float: left;">
*      <div class="typing_loader_container clear">
*       <div class="typing_loader"></div>
*      </div>
*   </div>
*/
.typing_loader_container {
    position: absolute;
    z-index: 90;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: get-color(primary);
    &.clear {
        background-color: transparent;
    }
    &.round {
        border-radius: $global-radius-large;
    }
}

.typing_loader {
    position: relative;
    left: -12px;
    width: 6px;
    height: 6px;
    animation: typing 1s linear infinite alternate;
    border-radius: 50%;
    .clear & {
        animation: typing_dark 1s linear infinite alternate;
    }
}

@keyframes typing {
    0% {
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 12px 0px 0px 0px rgba(255,255,255, 0.7), 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
    }

    25% {
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 1), 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
    }

    75% {
        background-color: rgba(255, 255, 255, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px rgba(255, 255, 255, 1);
    }
}

@keyframes typing_dark {
    0% {
        background-color: rgba(43, 43, 43, 1);
        box-shadow: 12px 0px 0px 0px rgba(99, 99, 99, 0.7), 24px 0px 0px 0px rgba(43, 43, 43, 0.2);
    }

    25% {
        background-color: rgba(43, 43, 43, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(43, 43, 43, 1), 24px 0px 0px 0px rgba(43, 43, 43, 0.2);
    }

    75% {
        background-color: rgba(43, 43, 43, 0.4);
        box-shadow: 12px 0px 0px 0px rgba(43, 43, 43, 0.2), 24px 0px 0px 0px rgba(43, 43, 43, 1);
    }
}
