<main role="main" class="main-content grid-container">

  <div class="grid-x align-center">
    <div class="intro callout primary cell medium-10">
      <header>
        <h1 class="site-title">geburtschaft® Qualitätskatalog</h1>
      </header>
      <div class="entry">
        <p class="stand-out">Eine Geburt passiert immer auf körperlicher, mentaler & emotionaler Ebene. Diese werden von weiteren Faktoren wie
          z.B. der Umgebung beeinflusst. Es gibt Anteile, die wir nicht beeinflussen können, aber wiederum welche, die sehr
          wohl beeinflussbar sind. Simples kann den Unterschied machen! </p>
        <p>Zur Förderung der körperlichen Prozesse & des mental-emotionalen Wohlbefindens von Mutter und Kind bei der Geburt, und somit für eine nachhaltige Gesundheit, wurde
          der geburtschaft® Qualitätskatalog erarbeitet. Er beinhaltet simple Kriterien.</p>
      </div>
    </div>
  </div>

  <div class="grid-x align-center criteria">
    <div class="medium-10 cell"> 

      <h2>Qualitätskatalog</h2>

      <h3>Emotionale Ebene</h3>
      <ul>
        <li>
          <strong>1:1 Hebammenbetreuung</strong> Gleichbleibende Hebamme (ausgenommen Schichtwechsel) welche die ganze Geburt über
          ununterbrochen bei der Gebärenden bleiben kann.</li>
        <li>
          <strong>Mitbringen professioneller Begleitung willkommen</strong> Auch zusätzlich zum Papa im Operationssaal.</li>
        <li>
          <strong>Herzensfaden</strong> Info über und Erinnerung an "Herzensfaden" (nach Brigitte Meissner).Vorstellung wie ein Faden das eigene Herz mit dem Herz vom Baby
          verbindet (der Faden kann goldig sein oder in einer Farbe die stimmig ist)</li>
        <li>
          <strong>Interventionen nur mit Einverständnis der Gebärenden</strong> Vor allen Intervention Einverständnis einholen ohne
          Druck auszuüben und geäusserten Wunsch respektieren.</li>
        <li>
          <strong>Hautkontakt Mutter-Kind</strong> Sofortiger und ungestörter Hautkontakt Mutter Kind.</li>
      </ul>
      <hr class="section-divider">
      <h3>Umgebung</h3>
      <p>Geburtsraum:</p>
      <ul>
        <li><strong>leise </strong> </li>
        <li><strong>abgedunkelt </strong> </li>
        <li><strong>Privatsphäre gewahrt </strong> </li>
      </ul>
      <p>In der Eröffnungsphase, in der Austreibungsphase und in der Nachgeburtsphase soll es im Geburtsraum leise, abgedunkelt und die Privatsspähre
        gewahrt sein.
      </p>
      <hr class="section-divider">
      <h3>Körperliche Ebene</h3>
      <ul>
        <li>
          <strong>Aufrechte Positionen</strong> Die Gebärende in der Eröffnungsphase und in der Austreibungspahse ermutigen schwerkraftnutzende
          Positionen auszuprobieren.</li>
        <li>
          <strong>Becken bewegen</strong> Die Gebärende ermutigen das Becken in den Wehen zu bewegen.</li>
        <li>
          <strong>Individuelles Geburtstempo </strong> Zeit der Frau und des Kindes respektieren (Übergangsphasen)</li>
        <li>
          <strong>Nicht medikamentöse Schmerzlinderung anbieten</strong> Alle nichtmedikamentöse Möglichkeiten um Entspannung auf körperliche-, mentale-
          und emotionale Ebenen zu erreichen ausschöpfen.</li>
        <li>
          <strong>Manuelle Techniken anbieten</strong> Bei Geburtsstillstand sowie bei "zu starken" Schmerzen die Biomechanik durch manuelle
          Techniken unterstützen.
        </li>
        <li>
          <strong>Pressphase schwerkraftnutzend</strong> Die Gebärende in der Pressphase ermutigen schwerkraftnutzende
          Positionen auszuprobieren.</li>
        <li>
          <strong>Instinktives Schieben ohne Luftanhalten</strong> Frauen nicht zum Luftanhalten (Vasalva Manöver) auffordern. Die Gebärende ermutigen den Signalen des Körpers zu folgen.</li>
        <li>
          <strong>Abnabelung nach Plazentageburt</strong> Nicht in physiologischen Ablauf eingreiffen.</li>
          <li>
            <strong>Ungestörter Hautkontakt nach Geburt</strong> Ungestörter Mutter-Kind Hautkontakt in den ersten 2 Stunden nach der Geburt.</li>
      </ul>
      <hr class="section-divider">
      <h3>Mentale Ebene</h3>
      <ul>
        <li>
          <strong>Informierte Entscheidung ermöglichen</strong> Vor Interventionen, unter Angabe der Risiko Relation, über alle Möglichkeiten
          (auch das Nichtstun), die jeweiligen Vor- und Nachteile und über mögliche Folgeinterventionen informieren. Erklären wie die jeweilige Intervention(en) ablaufen würde(n).</li>
        <li>
          <strong>Erklären / informieren</strong> Während Intervention erklären was gemacht wird und umgehend über das Ergebnis informieren.</li>
      </ul>
      <hr class="section-divider">
      <h3>PDA</h3>

      <ul>
        <li>
          <strong>Herzensfaden (nach Brigitte Meissner)</strong>
          Info über und Erinnerung an "Herzensfaden" (nach Brigitte Meissner). Vorstellung wie ein Faden das eigene Herz mit dem Herz vom Baby
          verbindet (der Faden kann goldig sein oder in einer Farbe die stimmig ist).
        </li>
        <li>
          <strong>Ballkissen</strong> Ballkissen zur Verfügung stellen und die Gebärende ermutigen das Becken zu bewegen.</li>
        <li>
          <strong>Schwerkraft nutzen</strong> Die Gebärende ermutigen schwerkraftnutzende Positionen auszuprobieren.</li>
      </ul>
      <hr class="section-divider">
      <h3>Kaiserschnitt-Operation</h3>

      <ul>
        <li>
          <strong>Herzensfaden (nach Brigitte Meissner)</strong>
          Die Frau an den "Herzsensfaden" erinnern: Vorstellung wie ein Faden das eigene Herz mit dem Herz vom Baby
          verbindet (der Faden kann goldig sein oder in einer Farbe die stimmig ist).
        </li>
        <li>
          <strong>Frühes Bonding im Operationssaal anbieten</strong> Prozedere nach Dr. Cyril Lüdin: sofortiger und ununterbrochener Hautkontakt in Operationssaal
         solange Mutter in Operationssaal (keine Trennung von Mutter Kind für messen/wiegen Kind etc.).</li>
         <li>
          <strong>Seeding anbieten</strong> 
          Bestreichen des Neugeborenen mit den Vaginalbakterien der Mutter, sofern keine mütterliche Infektionen vorliegen welche dagegen sprechen.</li>
      </ul>
      <hr class="section-divider">
      <h3>Wochenbett</h3>

      <ul>
        <li>
          <strong>Ruhe und Stille</strong>
          Für Ruhe und Stille sorgen und auf deren Wichtigkeit aufmerksam machen.
        </li>
        <li>
          <strong>Bondig Top</strong>
          Der Mama ein Bondig Top zur Verfügung stellen. Nacktkontakt von Mutter Kind fördern und auf deren Bedeutsamkeit aufmerksam
          machen.
        </li>
        <li>
          <strong>Toilettenhocker</strong>
          Toilettenhocker zur Erleichterung des Stuhlgangs zur Verfügung stellen.
        </li>
        <li>
          <strong>Babyheilbad</strong>
          Info über Babyheilbad & Geburtsgespräch (nach Brigitte Meissner) nach (vaginal) operativen Entbindungen oder schweren
          Geburten sowie bei Trennung von Mutter und Kind.
        </li>
        <li>
          <strong>Geburtsverarbeitung</strong>
          Info über Geburtsverarbeitungs nach unschön oder gar traumatisch erlebten Geburten.
        </li>
      </ul>

      <hr class="section-divider">
      <h3> Geburts-Einleitung</h3>
      <ul>
        <li>
          <strong>Einleitungsbeginn später Nachmittag</strong>
          Einleitungsbeginn ab 16Uhr. Entspannung auf mentaler, emotionaler & körperlicher Ebene fördern.
          </li>
      </ul>

      <hr class="section-divider">
      <p><strong>Die geforderten Punkte basieren auf salutophysiologischen Grundsätzen und den Erkentnissen über die Auswirkung auf die Gesundheit aus den Wissensgebieten Epigenetik, Micorbiome, Perinatalpsychologie und Bindungsforschung.</strong></p>

    </div>
  </div>
</main>