<main role="main" class="main-content grid-container">

  <div class="grid-x align-center">
    <div class="intro cell medium-10">
      <header>
        <h1 class="site-title">Qualitätskatalog</h1>
      </header>
      <div class="entry">
        <p class="stand-out">Eine Geburt passiert immer auf körperlicher, mentaler & emotionaler Ebene, diese werden von weiteren Faktoren wie
          z.B. der Umgebung beeinflusst. Es gibt Anteile, die wir nicht beeinflussen können, aber wiederum welche, die sehr
          wohl beeinflussbar sind. Simples kann den Unterschied machen! </p>
        <p>Zur Förderung der körperlichen Prozesse & des mental-emotionale Wohlbefinden von Mutter und Kind bei der Geburt wurde
          der geburtschaft® Qualitätskatalog erarbeitet. Er beinhaltet folgende simple Kriterien:</p>
        <hr class="section-divider">
      </div>
    </div>
  </div>

  <div class="grid-x align-justify">
    <div class="medium-5 cell criteria">
      <header class="text-left">
        <svg class="icon icon-medium world2">
          <use xlink:href="#world2"></use>
        </svg>
        <h3>Emotional</h3>
      </header>
      <ul class="no-bullet">
        <li>
          <strong>1:1 Hebammenbetreuung</strong> Gleichbleibende Hebamme (ausgenommen Schichtwechsel) welche die ganze Geburt über
          ununterbrochen bei der Gebärenden bleiben kann.</li>
        <li>
          <strong>Mitbringen professioneller Begleitung willkommen</strong> Auch zusätzlich zum Papa im Operationssaal.</li>
        <li>
          <strong>Herzensfaden</strong> Info über und Erinnerung an Herzensfaden (nach Brigitte Meissner).</li>
        <li>
          <strong>Interventionen nur mit Einverständnis der Gebärenden</strong> Vor allen Intervention Einverständnis einholen ohne
          Druck auszuüben und geäusserten Wunsch respektieren.</li>
        <li>
          <strong>Hautkontakt Mutter-Kind</strong> Sofortiger und ungestörter Hautkontakt Mutter Kind.</li>
      </ul>
    </div>

    <div class="medium-5 cell criteria">
        <header class="text-left">
          <svg class="icon icon-medium world2">
            <use xlink:href="#world2"></use>
          </svg>
          <h3>Emotional</h3>
        </header>
        <ul class="no-bullet">
          <li>
            <strong>1:1 Hebammenbetreuung</strong> Gleichbleibende Hebamme (ausgenommen Schichtwechsel) welche die ganze Geburt über
            ununterbrochen bei der Gebärenden bleiben kann.</li>
          <li>
            <strong>Mitbringen professioneller Begleitung willkommen</strong> Auch zusätzlich zum Papa im Operationssaal.</li>
          <li>
            <strong>Herzensfaden</strong> Info über und Erinnerung an Herzensfaden (nach Brigitte Meissner).</li>
          <li>
            <strong>Interventionen nur mit Einverständnis der Gebärenden</strong> Vor allen Intervention Einverständnis einholen ohne
            Druck auszuüben und geäusserten Wunsch respektieren.</li>
          <li>
            <strong>Hautkontakt Mutter-Kind</strong> Sofortiger und ungestörter Hautkontakt Mutter Kind.</li>
        </ul>
      </div>
      
  </div>


</main>