<div class="grid-container main-container dashboard-container">
  <div class="grid-x align-middle">
    <main role="main" class="main-content cell medium-8 large-7">
      <header>
        <h1 class="site-title">Qualitätskatalog</h1>
      </header>
      <div class="entry">
        <p>Der geburtschaft® Qualitätskatalog, zur Förderung physiologischen körperlichen Prozesse, des mental-emotionale Wohlbefinden von Mutter und Kind (Traumaprävention) und der Mutter-Kind-Bindung, beinhaltet folgende Punkte:</p>
        <ul>

        </ul>


      </div>
    </main>
    <aside class="main-sidebar medium-4 large-push-1 cell">
      
    </aside>
  </div>
</div>