@import "../../../settings";

.criteria {
    
    li {
        margin-bottom: 1.25rem;
        font-size: 1rem;
        strong {
            font-size: rem-calc(18);
            padding-bottom: .125em;
            display: block;
        }
    }
}