<div *ngIf="!experienceList">
  <div class="typing_loader_container clear round">
    <div class="typing_loader"></div>
  </div>
</div>

<div *ngIf="experienceList" class="grid-container experience-container">
  <div class="grid-x grid-padding-x">

    <div class="cell" *ngIf="experienceList.length == 0">
      <div class="empty-slate-container">
        <div class="blank-slate text-center">
          <img src="/assets/images/graphics/baby_sleep.svg" alt="sleeping baby">
          <p class="blank-slate-text">
            <em>Sie haben noch keine Geburt erfasst. </em>
          </p>
        </div>
      </div>
    </div>

    <div class="cell experience" *ngIf="experienceList.length != 0">
      <h2 class="section-title text-center">Ihre erfassten Geburten</h2>
      <ul class="no-bullet experience-list">
        <li class="grid-x experience-title align-middle hide-for-small-only">
          <div class="cell medium-3 medium-offset-1">
            <h5 class="list-header-title">Name</h5>
          </div>
          <div class="cell medium-2">
            <h5 class="list-header-title">Datum</h5>
          </div>
          <div class="cell medium-auto">
            <h5 class="list-header-title">Ort</h5>
          </div>
          <div class="cell medium-2">
            <h5 class="list-header-title">Bewertung</h5>
          </div>
        </li>
        <li *ngFor="let experience of experienceList" class="grid-x experience-item align-middle">
          <div class="cell medium-1 experience-item-icon">
            <button (click)="this.experienceService.delete(experience)" class="button clear alert no-margin" type="button" title="Geburtserlebnis löschen">
              <svg class="icon trash"><use xlink:href="#trash"></use></svg>
            </button>
          </div>
          <div class="cell medium-3 experience-item-name">
            <h3 class="experience-name h5">{{experience.birth_name}}</h3>
          </div>
          <div class="cell medium-2 experience-item-date">
            <time>{{ experience.birth_date | date: 'dd.MM.yyyy' }}</time>
          </div>
          <div class="cell medium-auto experience-item-birthplace">{{experience.birthplace}}</div>
          <div class="cell medium-2 experience-item-score">
            <strong>{{ experience.score | number : '1.1-1' }} / 3.0</strong>
          </div>
        </li>
      </ul>
    </div>

    <div class="cell text-center add-experience-container">
      <a routerLink="/user-dashboard/experience/new" class="button no-margin" routerLinkActive="active">
        <ng-container *ngIf="experienceList.length == 0">
          <svg class="icon icon-add">
            <use xlink:href="#add"></use>
          </svg> Geburt hinzufügen</ng-container>
        <ng-container *ngIf="experienceList.length != 0">
          <svg class="icon icon-add">
            <use xlink:href="#add"></use>
          </svg> Weitere Geburt hinzufügen</ng-container>
      </a>
    </div>


  </div>
</div>