@import "~_settings.scss";

.dashboard-sidebar {
    @include breakpoint(small only) {
        padding-top: 3rem;
    }
}

.dashboard-container {
    background: lighten($medium-gray, 20%);
    padding-bottom: 3rem;
    @include breakpoint(small only) {
        padding-top: 1rem;
    }
}

.dashboard-main {
    position: relative;
    background: $white;
    padding: 1rem;
    @include breakpoint(small only) {
        min-height: 10rem;
    }
    @include breakpoint(medium up) {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    border-radius: 6px;    
    box-shadow: $box-shadow-large;
}
