@import "../../../../../settings";

@include breakpoint(large up) {
    .birthplace-detail {
        overflow: hidden;
        margin-top: 3rem;
        margin-bottom: 3rem;
        border-radius: $global-radius-large;
        background-color: whitesmoke;
        box-shadow: $box-shadow-large;
    }
}


.birthplace-details-header {
    .icon {
        position: absolute;
        z-index: 10;
        top: 1em;
        right: 1em;
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        padding: .5em;
        color: $white;
        border-radius: 100px;

        @include breakpoint(medium up) {
            width: 3.5rem;
            height: 3.5rem;
        }


        &.icon-geburtshaus {
            background: rgba(get-color(geburtshaus), 1);
        }

        &.icon-spital {
            background: rgba(get-color(spital), 1);
        }
    }

    .detail-title-wrap {
        position: absolute;
        z-index: 10;
        z-index: 10;
        bottom: 1rem;
        left: 2rem;
        width: 80%;
        color: $white;
    }

    .detail-sup-title {
        font-size: rem-calc(17);
        font-weight: 200;
        margin-bottom: -.3em;
        text-transform: capitalize;
    }

    .detail-title {
        font-weight: 700;
    }
}

.birthplace-details-main {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.birthplace-details-footer {
    font-size: rem-calc(14);
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: lighten($light-gray, 5%);

    @include breakpoint(medium up) {
        padding-top: 2rem;
    }


    .adr {
        margin-bottom: 1em;
    }
}

/**
* @section Main > Score
* @molecule Score List
* @markup
*  <ul class='no-bullet score-list' style="max-width: 20rem;">
*   <li class='total-score-item score-item'><strong class="score-item-title">Total</strong><strong class="score">2.2 von 3.0</strong></li>
*   <li class='score-item'><strong class="score-item-title">Umgebung</strong><strong class="score">2.1</strong></li>
*   <li class='score-item'><strong class="score-item-title">Emotional</strong><strong class="score">1.2</strong></li>
*   <li class='score-item'><strong class="score-item-title">Körperlich</strong><strong class="score">1.98</strong></li>
*   <li class='score-item'><strong class="score-item-title">Mental</strong><strong class="score">1.75</strong></li>
*   <li class='score-item'><strong class="score-item-title">Wochenbett</strong><strong class="score">1.22</strong></li>
*  </ul>
*/
.score-list {
    padding: 1rem;
    border: 1px solid lighten($light-gray, 2%);
    border-radius: $global-radius;
    background: $white;

    .total-score-item {
        font-size: rem-calc(19);
        line-height: 1;
        padding-bottom: 1em;
    }

    .score-item {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: .3em 0;

        .score {
            text-align: right;
        }

        .score-item-title {
            display: flex;
            flex: 1;

            &:after {
                flex: 1;
                margin: 0 .6rem;
                content: "";
                border-bottom: dotted 1px $medium-gray;
            }
        }
    }
}

/**
* @section Main > Score
* @molecule Score List Description
* @markup
*   <small class="score-list-description">Bewertung basierend auf <span class="badge">7</span> Geburten</small>
*/
.score-list-description {
    font-size: rem-calc(14);
    display: block;
    margin-bottom: 1em;
    color: lighten($body-font-color, 50%);
}

.polar-chart-container {
    padding: 1rem;
}
