@import "../../../settings";

.app-menu-footer {
    .menu {
        a {
            padding-bottom: 0;
            color: lighten($body-font-color, 40%);
            &.active {
                opacity: .5;
            }
            &:hover, &:focus {
                color: get-color(primary-bright);
            }
            .icon {
                margin-left: .1em;
            }
        }
        @include breakpoint(small only) {
            padding-bottom: 1rem;
            a, .menu-text {
                font-size: rem-calc(17);
            }
            a {
                color: $white;
            }
            .menu-text {
                color: get-color(primary-dark);
            }
        }
    }
    .menu-text {
        margin-bottom: 0;
        padding-bottom: 0;
        @include breakpoint(small only) {
            color: $white;
        }
    }
}



.credits {
    font-size: rem-calc(13);
    margin: 0;
    padding: 0 2rem ;
    color: $white;
    @include breakpoint(medium up) {
        padding: 0 1rem ;
        color: $dark-gray;
    }
}

@include breakpoint(small only) {
    .footer-container {
        .close-nav-trigger {
            padding: 1rem 0; 
        }
    }
    .credits-wrap {
        text-align: center;
    }
}

.menu.icons {
    justify-content: center;
}


@include breakpoint(medium up) {
    .credits-wrap {
        padding-top: 2rem;
    }
    .footer-container {
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-top: 1px solid $light-gray;
    }
}
