<footer class="footer-container grid-container">
    <div class="grid-x grid-padding-x medium-up-4 app-menu-footer">
      <div class="cell">
        <a (click)='toggle($event, "footer")' class="show-for-small-only close-nav-trigger nav-trigger-footer">back</a>
        <ul class="menu vertical">
          <li><a href="#">Geburstort Finden</a></li>
          <li><a href="#">Geburt hinzufügen</a></li>
          <li><a *ngIf="userLoggedIn"  (click)="logout()" >Logout</a></li>
        </ul>
      </div>
      <div class="cell">
        <ul class="menu vertical">
          <li><a href="#">Über birthhood<sup>®</sup></a></li>
          <li><a href="#">Geburtskriterien</a></li>
        </ul>
      </div>
      <div class="cell">
        <ul class="menu vertical">
          <li><a href="#">Ich bin ein Geburtshaus</a></li>
          <li><a href="#">Ich bin ein Spital</a></li>
        </ul>
      </div>
      <div class="cell">
        <ul class="menu vertical">
          <li><a href="#">Impressum</a></li>
          <li><a href="#">Kontakt</a></li>
        </ul>
      </div>
    </div>
  </footer>