<footer class="footer-container grid-container">
  <div class="grid-x grid-padding-x medium-up-4 app-menu-footer">
    <div class="cell">
        <a (click)='toggle($event)' class="show-for-small-only close-nav-trigger nav-trigger-footer">
            <svg class="icon icon-arrow-left icon-medium">
              <use xlink:href="#arrow-left"></use>
            </svg>
          </a>
    </div>
    <div class="cell">
      <ul class="menu vertical">
        <li>
          <a (click)='goto("/")'>Geburstort finden</a>
        </li>
        <li>
          <a (click)='goto("/user-dashboard/experience/new")'>Geburt hinzufügen</a>
        </li>
        <li>
          <a *ngIf="userLoggedIn" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
    <div class="cell">
      <ul class="menu vertical">
        <li>
          <a (click)='goto("/about")'>Über birthhood
            <sup>®</sup>
          </a>
        </li>
        <li>
          <a (click)='goto("/birthcriteria")'>Geburtskriterien</a>
        </li>
      </ul>
    </div>
    <div class="cell">
      <ul class="menu vertical">
        <li>
          <a (click)='goto("/signup-birthplace")'>Ich bin ein Geburtshaus</a>
        </li>
        <li>
          <a (click)='goto("/signup-birthplace")'>Ich bin ein Spital</a>
        </li>
      </ul>
    </div>
    <div class="cell">
      <ul class="menu vertical">
        <li>
          <a (click)='goto("/impressum")'>Impressum</a>
        </li>
        <li>
          <a (click)='goto("/contact")'>Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</footer>