<div id="search-component" class="search-component">
  <label for="search-box" class="show-for-sr">Search</label>
  <input #searchBox id="search-box" class="search-box" (keyup)="search(searchBox.value)" placeholder="Suchen"/>
  <div class="search-overlay"></div>
  
  <div *ngIf="(searchresults | async)?.length > 0"> {{(searchresults | async)?.length}} Resultate</div>
  <div *ngIf="(searchresults | async)?.length==0 && searchBox.value">No records found.</div>
  <div>
    <div *ngFor="let item of searchresults | async"
    [routerLink]="['/birthplaces/details', item.id]">
      {{item.name}}
    </div>
  </div>
</div>