@import "~_settings.scss";
.search-container {
    will-change: transform;
    -webkit-font-smooting: antialiased;
    padding: 1rem;
    border-bottom: 1px solid $light-gray;
    .search-input {
        margin: 0;
    }
    .search-list-container {
        display: none;
    }
    &.search-active {
        backface-visibility: hidden;
        z-index: 5;
        height: 100%;
        .search-input {
            z-index: 10;
            transform: translateY(-300px);
        }
        .search-list-container {
            z-index: 10;
            display: block;
            background-color: $white;
            transform: translateY(-300px);
            position: fixed;
            padding: 10em 1em 1em 1em;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .search-overlay {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            background-color: rgba($black, 1);
        }
    }
}

.search-results-item {
    a {
        padding: .6em 0;
        margin-left: .6em;
        border-bottom: 1px solid $light-gray;
    }
    &:hover,
    &:focus {
        background-color: $light-gray;
    }
}


.search-info {
    font-size: rem-calc(12px);
    color: $medium-gray;
    font-weight: $global-weight-bold;
    text-align: right;
    padding: .3em 0;
    >span:nth-of-type(2) {
        &::before {
            content: '|';
            display: inline-block;
            padding: 0 .6em;
        }
    }
}

.search-results-label{
    display: flex;
}
.search-results-label-text {
    flex: 1;
}
