@import "~_settings.scss";
.search-container {
    will-change: transform;
    -webkit-font-smooting: antialiased;
    padding: 1rem;
    background:$white;
    transition: all 0.2s ease;
    .search-input {
        pointer-events: auto;
        margin-bottom:1rem ;
    }
    .search-close-button {
        display: none;
    }
    .search-list-container {
        display: none;
    }
    &.search-active {
        transform: translateY(-406px);
        z-index: 5;
        position: fixed;
        transition: all 0.2s ease;
        width: 100vw;
        height: 100vh;
        .search-input {
            z-index: 10;
        }
        .search-close-button {
            transition: all 0.2s ease;
            display: block;
            text-align: right;
        }
        .search-list-container {
            z-index: 10;
            display: block;
            overflow: scroll;
            height: 80vh;

        }
    }
}

.search-results-item {
    a {
        padding: .6em 0;
        margin-left: .6em;
        margin-right: .6em;
        border-bottom: 1px solid $light-gray;
    }
    &:hover,
    &:focus {
        background-color: $light-gray;
    }
}


.search-info {
    font-size: rem-calc(12px);
    color: $medium-gray;
    font-weight: $global-weight-bold;
    text-align: right;
    padding: .3em 0;
    >span:nth-of-type(2) {
        &::before {
            content: '|';
            display: inline-block;
            padding: 0 .6em;
        }
    }
}

.search-results-label{
    display: flex;
}
.search-results-label-text {
    flex: 1;
}
.search-results-label-icon {
    margin-right: 1rem;
}
